<node>
	<interface name="com.tcore.ps.context">
		<method name="GetProperties">
			<arg  type="a{ss}" name="context_property" direction="out" />
		</method>
		<method name="GetProfile">
			<arg  type="a{ss}" name="profile_property" direction="out" />
		</method>
		<method name="Activate">
			<arg  type="s" name="context_path" direction="out" />
		</method>
		<method name="Deactivate">
			<arg  type="s" name="context_path" direction="out" />
		</method>
		<method name="SetDefaultConnection">
			<arg  type="b" name="result" direction="out" />
		</method>
		<method name="ModifyProfile">
			<arg  type="a{ss}" name="profile_property" direction="in" />
			<arg  type="b" name="result" direction="out" />
		</method>
		<method name="RemoveProfile">
			<arg  type="b" name="result" direction="out" />
		</method>
		<signal name="PropertyChanged">
			<arg type="a{ss}" name="context_property" direction="out" />
		</signal>
		<signal name="DedicatedBearerInfo">
			<arg  type="a{ss}" name="dedicated_bearer" direction="out" />
		</signal>
	</interface>
</node>

